@import './base';
@import './mixins';

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $primary-font;
}

header{
    padding: 2vh 2vw;
    text-align: center;
    color: $light-color;
    background: $primary-color;

    hr{
        border: 1px solid $dark-color;
        width: 65%;
        margin: 1vh auto;
    }

    h1{
        text-transform:uppercase;
        font-weight: 600;
        font-family: $logo-font;

        &::before{
            @include handle-font-awesome($font-awesome-brand, .3em, $dark-color, '\f50e');
        }

        &::after{
            @include handle-font-awesome($font-awesome-brand, .3em, $dark-color, '\f50d' );
        }
    }

    h2{
        font-size: small;
        font-weight: 400;
        letter-spacing: .08em;
    }
}

h3{
    text-align: center;
    margin: 2vh 0;
    text-transform: uppercase;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $primary-color;
    width: 502px;
    height: 502px;
    margin: 2vh auto;
    box-shadow: .1em .1em .5em rgba($color: $primary-color, $alpha: 0.3);
    background: url('../assets/background-black.png');
    animation: defilement 5s linear infinite;
}

@keyframes defilement {
    
    from{
        background-position-y: 0px;
    }
    to{
        background-position-y: 256px;
    }
    
}

.grid{

    div{
        width: 25px;
        height: 25px;
    }

}

.defender{
    background: url('../assets/spatialship.png');
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
}

.invader{
    background: url('../assets/invaders.png');
    background-position: center;
    background-size: contain;
}

.boom{
    background: $boom;
}

.laser{
    background: $laser;
}

#victory{

    i{
        color: $laser;
    }

}